@each $month, $amount in $months {
  @for $i from 1 through $amount {
    .#{$month} div:nth-child(#{$i}) {
      display: flex;

      &::before {
        content: "#{$i}";
      }
    }
  }
}

@each $day, $value in $days {
  .#{$day} div:first-child {
    margin-left: $value;
  }
}
