$days: (
  calendar-mon: 0,
  calendar-tue: 102px,
  calendar-wed: 203px,
  calendar-thu: 304px,
  calendar-fri: 405px,
  calendar-sat: 506px,
  calendar-sun: 607px,
);

$months: (
  calendar-28: 28,
  calendar-29: 29,
  calendar-30: 30,
  calendar-31: 31,
);
