$box-width: 100px;
$box-height: 100px;
$box-gap: 1px;

$days: (
  calendar-mon: 0,
  calendar-tue: $box-width + $box-gap * 2,
  calendar-wed: $box-width * 2 + $box-gap * 3,
  calendar-thu: $box-width * 3 + $box-gap * 4,
  calendar-fri: $box-width * 4 + $box-gap * 5,
  calendar-sat: $box-width * 5 + $box-gap * 6,
  calendar-sun: $box-width * 6 + $box-gap * 7,
);

$months: (
  calendar-28: 28,
  calendar-29: 29,
  calendar-30: 30,
  calendar-31: 31,
);
